<!DOCTYPE html>
<html lang="it">
<head>
    
    <title> 404 - Fandomia </title>
    <link rel="stylesheet" href="assets/css/name.css">

</head>

{{header}}

<body>

    <nav aria-label="breadcrumb" class="breadcrumb">
        <p>Ti trovi in :</p>
          <ul>
            <li><span aria-current="page">Error 404</span></li>
          </ul>
        </nav>

        <section id="404" >
            <h2>Errore 404, Non troviamo la tua pagina D:</h2>
        </section>

</body>

{{footer}}

</html>