<!DOCTYPE html>
<html lang="it">
<head>
    
    <title> 500 - Fandomia </title>
    <link rel="stylesheet" href="assets/css/name.css">

</head>

{{header}}

<body>

    <nav aria-label="breadcrumb" class="breadcrumb">
        <p>Ti trovi in :</p>
          <ul>
            <li><span aria-current="page">error 500</span></li>
          </ul>
        </nav>

        <section id="500" >
            <h2>Errore 500, Il server &egrave; esploso! D:</h2>
        </section>

</body>

{{footer}}

</html>