<!DOCTYPE html>
<html lang="it">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="fandomia,area personale">
    <title>Fandomia</title>
    <link rel="stylesheet" href="../assets/css/mobile.css">
    <link rel="stylesheet" href="assets/css/print.css" media="print">
    <script src="../assets/script.js"></script>
    </head>
    <body>
        {{header}}
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ul>
              <li><a href="index.php" lang="en">Home</a></li>
              <li><span>Area personale</span></li>
              <li><span aria-current="page">{{area_personale}}</span></li>
            </ul>
        </nav>
        <div>
        <aside>
            <ul>
                <a href="accountInfo.php">Le mie info</a>
                <a href="wishList.php">la mia Wish List</a>
                <a href="reservationList.php">Le mie prenotazioni</a>
                <a href="logout.php">Logout</a>
            </ul>
        </aside>
        <div>
            {{contenutoAreaPersonale}}
        </div>
</div>
{{footer}}
</body>
</html>
