<li>
<div>
{{name}}
<div class="item-row">
    <div class="item-image">
        <picture><img src="{{immagine}}" alt="" ></picture>
    </div>
    <div class="item-info">
<dl>
    <dt>Prezzo</dt>
    <dd id="prezzo">{{price}} &euro;</dd> 
    <dt>Disponibilità</dt><dd>{{status}}</dd>
    <dt>Data di uscita</dt><dd>{{release_date}}</dd>
    <dt>Genere</dt><dd>{{product_type}}</dd>
    {{item-info}}
</dl>
</div>
<div class="item-actions">
    <form action="wishList.php" method="POST">
        <input type="hidden" name="product_id" value="{{productId}}">
        <button type="submit" name="submit">Aggiungi alla wish-list</button>
    </form>
    <form action="prenotazioneRitiro.php?id={{id}}" method="POST">
        <input type="hidden" name="product_id" value="{{id}}">
        <button type="submit" name="submit">Prenota il ritiro</button>
    </form>
</div>
</div>
</div>
</li>