<li class="card">
<div>
<h2>{{name}}</h2>
<div class="item-row">
    <div class="item-image">
        <picture><img src="{{immagine}}" alt="" ></picture>
    </div>
    <div class="item-info">
<dl>
    <dt>Prezzo:</dt>
    <dd id="prezzo">{{price}} &euro;</dd> 
    <dt>Disponibilità:</dt><dd>{{status}}</dd>
    <dt>Data di uscita:</dt><dd>{{release_date}}</dd>
    <dt>Genere:</dt><dd>{{product_type}}</dd>
</dl>
</div>
<div class="item-actions">
    <form action="prenotazioneRitiro.php" method="get">
        <input type="hidden" name="product_id" value="{{id}}">
        <button type="submit" name="submit" value="richiesta_prenotazione" >Prenota</button>
    </form>
    <form action="productPage.php" method="post">
        <input type="hidden" name="product_id" value="{{id}}">
        <input type="hidden" name="product_type" value="{{product_type}}">
        <button type="submit" name="submit" value="visualizzazione_prodotto" >Visualizza</button>
    </form>
</div>
</div>
</div>
</li>