<footer>
    <p>Per conoscerci meglio:</p>
    <address>
    <dl class="contact_info">               <!--sistemare con degli <span> i vari numeri e abbreviazioni per accessibilita'-->
        <dt>Instagram</dt><dd class="instagram"> <a href="https://www.instagram.com/">fandomiastore </a> </dd>
        <dt>Facebook</dt><dd> <a href="https://www.facebook.com/">Fandomia </a> </dd>
        <dt>X</dt><dd> <a href="https://x.com/">@fandomiastore </a> </dd>
        <dt>Vieni a trovarci</dt><dd>Via ..., 18 - Padova (PD)</dd>
        <dt>Contatto telefonico</dt><dd><a href="tel:+39800031618" aria-label="Chiamaci al 049800031618">800 031 618</a></dd>
        <dt><abbr title="Partita IVA">P. IVA</abbr></dt><dd aria-label="I T, 3 6 5, 1 7 8, 9 5 7.">IT365178957</dd>
    </dl>
    </address>

    <p class="signature">
        2024 The Fandomia team, all rights reserved.
    </p>
</footer>