<div class="footer">

    <dl class="contact_info">               <!--sistemare con degli <span> i vari numeri e abbreviazioni per accessibilita'-->
        <dt> P.IVA IT 36517895 7</dt>
        <dt> Per conoscerci meglio:</dt>
        <dd> <a href="https://www.instagram.com/"> Instagram </a> </dd>
        <dd> <a href="https://www.facebook.com/"> Facebook </a> </dd>
        <dd> <a href="https://x.com/"> X </a> </dd>
        <dd id="numero_verde"> Oppure chiamaci all' 800 031 618 </dd>
    </dl>


    <p class="signature">
        2024 The Fandomia team, all rights reserved.
    </p>
</div>