<header>
    <div>
    <div class="logo_icon_wrapper">
        <div class="logo">
            <img src="assets/images/logo.jpg">
        </div>
    </div>
        <search>
            <form action="search.php">
              <input type="search" placeholder="Cosa ti interessa?" id="search" name="search" />
              <button type="submit">Cerca</button>
            </form>
        </search>
            <a href="wishList.php" id="wishList"><span>Wish list</span></a>
            <a href="login.php" id="loginForm"><span>Login</span></a>
    </div>
<nav id="menu">
    <ul>
        <li lang="en">Home</li>
        <li><a href="libri.php">Libri</a></li>
        <li><a href="musica.php">Musica</a></li>
        <li><a href="fumetti.php">Fumetti</a></li>
        <li><a href="videoGiochi.php">Videogiochi</a></li>
    </ul>
</nav>
</header>