<header>
    <div>
    <div class="logo_icon_wrapper">
        <div class="logo">
            <img src="assets/images/logo.jpg">
        </div>
    </div>
        <search>
            <form action="search.php" method="post">
              <input type="search" placeholder="Cerca il titolo di un prodotto" id="search" name="search" />
              <button type="submit">Cerca</button>
            </form>
        </search>
            <a href="../reservationList.php" ><span>Le tue prenotazioni</span></a>
            <div>{{areaPersonale}}</div>
    </div>
<nav id="menu">
    <ul>
        <li><a href="index.php">Home</li>
        <li><a href="products_page.php?category=book">Libri</a></li>
        <li><a href="products_page.php?category=music">Musica</a></li>
        <li><a href="products_page.php?category=comic">Fumetti</a></li>
        <li><a href="products_page.php?category=videogame">Videogiochi</a></li>
    </ul>
</nav>
</header>