<!DOCTYPE html>
<html lang="it">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="fandomia,fumetti,videogiochi,libri,musica, prenota, compra">
    <meta name="description" content="Fandomia e' il sito tutto-in-uno per amanti di libri, fumetti, musica e videogiochi">
    <meta name="author" content="Iulius Signorelli, Joseph Grant, Tommaso Stocco, Pietro Busato">

    <title>Fandomia</title>
    <link rel="stylesheet" href="../assets/css/homepage.css">
    <link rel="stylesheet" href="assets/css/print.css" media="print">
    <script src="../assets/script/script.js"></script>
    </head>
    <body>
        {{header}}
        <nav aria-label="Percorso" class="breadcrumb">
          <p>Ti trovi in:&nbsp; </p>
            <ul>
              <li><a href="index.php" lang="en" aria-current="page">Home</a></li>
            </ul>
        </nav>
        {{state}}
        <main id="content">
            <div class="sezioneCard">
              <h2> Ultimi arrivi </h2>
              {{latestItems}}
              <a href="latestItems.php">Vedi tutti gli ultimi arrivi</a>
            </div>
            <div class="sezioneCard">
              <h2> ...ed i prossimi </h2>
              {{nextItems}}
              <a href="nextItems.php">Vedi tutti i prossimi arrivi</a>
            </div>
            <div class="sezioneCard">
              <h2> Promozioni</h2>
              {{saleItems}}
              <a href="saleItems.php">Vedi tutti i prodotti in offerta</a>
            </div>
        </main>
        {{footer}}
    </body>
</html>