<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../assets/css/finalstyle.css">
    </head>
    <body>
        {{header}}
        <nav aria-label="Percorso" class="breadcrumb">
            <p>Ti trovi in:&nbsp; </p>
              <ul>
                <li><a href="index.php" lang="en">Home</a></li>
                <li>Ultimi arrivi</li>
              </ul>
        </nav>
        <main id="content" class="products_page">
            {{latest_items_list}}
            {{pagination_links}}
            <a href="#top">Torna all'inizio</a>
        </main>
        {{footer}}
    </body>
</html>