<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Fandomia - Login</title>
        <meta name="keywords" content="login, fandomia">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="../assets/css/form.css">
        <script src="../assets/script/showPassword.js"></script>
    </head>
    <body>
        {{header}}
        <nav aria-label="Percorso" class="breadcrumb">
            <p>Ti trovi in: </p>
            <ul>
              <li><a href="index.php" lang="en">Home</a></li>
              <li><a href="login.php" aria-current="page" lang="en">Login</a></li>
            </ul>
        </nav>
        <main id="content">
        <h2 lang="en">Login</h2>
        {{state}}
        <form class="form" action="./lib/loginController.php" method="post"> 
            {{errors}}
            <label for="mail" lang="en">Email</label>
            <input id="mail" type="email" name="userEmail" required placeholder="email">
            <label for="pwd" lang="en">Password</label>
            <input id="pwd" type="password" name="password" required placeholder="password">
            <label for="showPassword">Mostra <span lang="en">password</span></label>
            <input type="checkbox" id="showPassword" onclick="togglePassword()">
            <input type="hidden" id="redirect_url" name="redirect_url" value="{{redirect_url}}">
            <button type="submit">Accedi</button>
            <a href="signup.php">Non sei già registrato?</a>
        </form>  
        </main>
        {{footer}}
    </body>
</html>