<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Fandomia - Login</title>
        <meta name="keywords" content="login, fandomia">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="../assets/css/style.css">
        <script src="../assets/script/showPassword.js"></script>
    </head>
    <body>
        {{header}}
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ul>
              <li><a href="index.php" lang="en">Home</a></li>
              <li><span aria-current="page" lang="en">Login</span></li>
            </ul>
        </nav>
        <main>
        {{state}}
        <form id="loginForm" action="./lib/loginController.php" method="post"> 
            {{errors}}
            <label for="mail">Email</label>
            <input id="mail" type="email" name="userEmail" 
            placeholder="Inserisci la tua Email" required>
            <label for="pwd">Password</label>
            <input id="pwd" type="password" name="password"
            placeholder="Inserisci la tua password" required  />
            <label for="showPassword">Mostra password</label>
            <input type="checkbox" id="showPassword" onclick="togglePassword()"> 
            <input type="hidden" id="redirect_url" name="redirect_url" value={{redirect_url}}>
            <button type="submit">Accedi</button>
            <a href="signup.php">Non sei già registrato?</a>
        </form>  
        </main>
    {{footer}}
    </body>
</html>