<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Fandomia - Login</title>
        <meta name="keywords" content="login, fandomia">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="../assets/css/finalstyle.css">
        <script src="../assets/script/script.js"></script>
        <script src="../assets/script/showPassword.js"></script>
    </head>
    <body>
        {{header}}
        <nav aria-label="Percorso" class="breadcrumb">
            <p>Ti trovi in:&nbsp; </p>
            <ul>
              <li><a href="index.php" lang="en">Home</a></li>
              <li><span lang="en">Login</span></li>
            </ul>
        </nav>
        <main id="content">
        <h2 lang="en">Login</h2>
        {{state}}
        <form class="userForm" name="loginForm" action="./lib/loginController.php" method="post"> 
            {{errors}}
            <label for="mail">Email</label>
            <input id="mail" type="email" name="userEmail" 
            placeholder="E-mail" pattern="[a-zo-9._%+\-]+@[a-zo-9. \-]+\. [a-z] {2,}$" required>
            <label for="pwd">Password</label>
            <input id="pwd" type="password" name="password"
            placeholder="Inserisci la tua password" required  />
            <label for="showPassword">Mostra password</label>
            <input type="checkbox" id="showPassword" onclick="togglePassword()" /> 
            <input type="hidden" id="redirect_url" name="redirect_url" value="{{redirect_url}}" />
            <button type="submit">Accedi</button>
            <a href="signup.php">Non sei già registrato?</a>
        </form>  
        </main>
        {{footer}}
    </body>
</html>