<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="fandomia,fumetti,videogiochi,libri,musica, prossimi arrivi, novità ,esclusivi">
        <meta name="description" content="Fandomia e' il sito tutto-in-uno per amanti di libri, fumetti, musica e videogiochi">
        <meta name="author" content="Iulius Signorelli, Joseph Grant, Tommaso Stocco, Pietro Busato">
        <title>Fandomia</title>
        <link rel="stylesheet" href="assets/css/print.css" media="print">
        <script src="assets/script/script.js"></script>
        <link rel="stylesheet" href="assets/css/finalstyle.css">
    </head>
    <body>
        {{header}}
        <nav aria-label="Percorso" class="breadcrumb">
            <p>Ti trovi in:&nbsp; </p>
              <ul>
                <li><a href="index.php" lang="en">Home</a></li>
                <li>Prossimi arrivi</li>
              </ul>
        </nav>
        <main id="content" class="products_page">
            <h1>I prossimi arrivi</h1>
            {{next_items_list}}
            {{pagination_links}}
            <a href="#top">Torna all'inizio</a>
        </main>
        {{footer}}
    </body>
</html>