<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Prenota {{name}}, {{genre}}, Fandomia">
    <meta name="description" content="pagina riguardante prodotto {{name}} del negozio Fandomia">
    <title>Fandomia - {{name}}</title>
    <link rel="stylesheet" href="../assets/css/finalstyle.css">
    <script src="../assets/script/script.js"></script>
</head>

<body>
    {{header}}
    <nav aria-label="Percorso" class="breadcrumb">
        <p>Ti trovi in:&nbsp; </p>
        <ul>
          <li><a href="index.php" lang="en">Home</a></li>
          <li><a href="products_page.php?category={{category}}" lang="en">{{product_type}}</a></li>
          <li>{{name}}</li>
        </ul>
    </nav>
    <main id="content">
        <section class="product">
        <h2>{{name}}</h2>
            <div id="product-display">
                    <div class="item-image">
                        <picture><img src="assets/images/products/{{id}}.jpg" alt={{alt}} ></picture>
                    </div>
                    <h3>Dettagli prodotto</h3>
                    <dl class="details">
                        <dt>Titolo:</dt><dd>{{name}}</dd>
                        <dt class="example-genre">Tipologia:</dt>
                        <dd>{{product_type}}</dd>
                        <dt class="example-genre">Genere:</dt>
                        <dd>{{genre}}</dd>
                        <dt class="example-genre">Disponibilità:</dt>
                        <dd>{{status}}</dd>
                        <dt>Data uscita:</dt>
                        <dd><time datetime="aaaa-mm-gg">{{release_date}}</time></dd>
                        <dt class="price(?)">Prezzo:</dt>
                        <dd>{{price}}</dd>
                        {{extra_infos}}
                    </dl>
            </div>
        </section>
        <div id="buttons">
        <form action="prenotazioneRitiro.php" method="get">
            <input type="hidden" name="product_id" value="{{id}}">
            <button type="submit" id="book_button">Prenota</button>
        </form>
        </div>
    </main>
    {{footer}}
</body>
</html>