<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="fandomia,fumetti,videogiochi,Padova,libri,musica">
        <title>Fandomia</title>
        <link rel="stylesheet" href="../assets/css/productlist.css">
        <link rel="stylesheet" href="assets/css/print.css" media="print">
    </head>
    <body>
        {{header}}
        <nav aria-label="Percorso" class="breadcrumb">
            <p>Ti trovi in: </p>
              <ul>
                <li><a href="index.php" lang="en">Home</a></li>
                <li><a href="{{current_url}}" aria-current="page">{{products}}</a></li>
              </ul>
            </nav>
        <main class="products_page" id="content">
            {{products_list}}
            {{pagination_links}}
        </main>
        {{footer}}
    </body>
</html>