<!DOCTYPE html>
<html lang="it">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="fandomia,prenotazioni">
    <title>Le mie prenotazioni</title>
    <link rel="stylesheet" href="../assets/css/mobile.css">
    <link rel="stylesheet" href="assets/css/print.css" media="print">
    </head>
    <body>
        {{header}}
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ul>
              <li><a href="index.php" lang="en">Home</a></li>
              <li><span>Area personale</span></li>
              <li><span aria-current="page">{{area_personale}}</span></li>
            </ul>
        </nav>
        <div>
            {{contenutoAreaPersonale}}
        </div>
</div>
{{footer}}
</body>
</html>
