<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Fandomia - Prenotazione</title>
        <meta name="keywords" content="prenotazione, fandomia,fumetti,videogiochi,libri,musica">
        <meta name="viewport" content="width=device-width" >
        <link rel="stylesheet" href="../assets/css/finalstyle.css">
        <script src="../assets/script/script.js"></script>
    </head>
    <body>
        {{header}}
        <nav aria-label="Percorso" class="breadcrumb">
            <p>Ti trovi in:&nbsp; </p>
            <ul>
              <li><a href="index.php" lang="en">Home</a></li>
              <li><a href="products_page.php?category={{product_type}}" lang="en">{{product_typename}}</a></li>
              <li><a href="productPage.php?product_id={{product_id}}">{{product_name}}</a></li>
              <li>Prenotazione ritiro</li>
            </ul>
        </nav>
        <main id="content">
            <h1>Il tuo ordine:</h1>
            <div class="reservation">
                {{reserved_product}}
                <form id="reservationForm" action="./lib/reservationController.php" method="post" novalidate> 
                    {{errors}}
                    <label for="withdrawDate">Scegli il giorno:</label>
                    <input type="date" id="withdrawDate" name="data_ritiro" min={{min_date}} value="{{data_ritiro}}" required>
                    <label for="withdrawTime">Orario di ritiro:</label>
                    <select id="withdrawTime" name="fascia_oraria" autocomplete="off" required>
                        <option value="">--Seleziona una fascia oraria--</option>
                        {{option_values}}
                    </select>
                    <label for="notes">Note:</label>
                    <textarea id="notes" name="notes" rows="5" cols="30" maxlength="140" autocomplete="off"></textarea>
                    <input type="hidden" name="product_id" value="{{product_id}}">
                    {{reservation_id}}
                    <button type="submit">{{submit_action}}</button>
                </form>
            </div>
        </main> 
    {{footer}}
    </body>
</html>