<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Fandomia - Prenotazione</title>
        <meta name="keywords" content="prenotazione, fandomia,fumetti,videogiochi,libri,musica">
        <meta name="viewport" content="width=device-width" >
    </head>
    <body>
        {{header}}
        <nav aria-label="breadcrumb" class="breadcrumb">
            <ul>
              <li><a href="index.php" lang="en">Home</a></li>
              <li><span aria-current="page" lang="en">Prenotazione ritiro</span></li>
            </ul>
        </nav>
        <p> Il tuo ordine:</p>
        {{reserved_product}}
        <form id="reservationForm" action="./lib/reservationController.php?product_id={{product_id}}" method="post"> 
            {{errors}}
            <label for="withdrawDate">Scegli il giorno:</label>
            <input type="date" id="withdrawDate" name="data_ritiro" min={{min_date}} required>
            <label for="withdrawTime">Orario di ritiro:</label>
            <select id="withdrawTime" name="fascia_oraria" required>
              <option value="">--Seleziona una fascia oraria--</option>
              <option value="09:00-10:00">09:00-10:00</option>
              <option value="10:00-11:00">10:00-11:00</option>
              <option value="11:00-12:00">11:00-12:00</option>
              <option value="12:00-13:00">12:00-13:00</option>
              <option value="15:00-16:00">15:00-16:00</option>
              <option value="16:00-17:00">16:00-17:00</option>
              <option value="17:00-18:00">17:00-18:00</option>
              <option value="18:00-19:00">18:00-19:00</option>
            </select>
            <label for="notes">Note:</label>
            <textarea id="notes" name="notes" rows="5" cols="30" maxlength="140"></textarea>
            <button type="submit">Prenota</button>
        </form>  
    {{footer}}
    </body>
</html>