<!DOCTYPE html>
<html lang="it">
    <head >
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="fandomia,fumetti,videogiochi,libri,musica,ricerca">
        <meta name="description" content="Fandomia e' il sito tutto-in-uno per amanti di libri, fumetti, musica e videogiochi">
        <meta name="author" content="Iulius Signorelli, Joseph Grant, Tommaso Stocco, Pietro Busato">
        <title>Fandomia</title>
        <link rel="stylesheet" href="assets/css/finalstyle.css">
        <link rel="stylesheet" href="assets/css/print.css" media="print">
        <script src="assets/script/script.js"></script>
    </head>
    <body>
        {{header}}
        <main id="content" class="search">
            <h1 id="log">Hai cercato: {{query}}</h1>
            {{searchList}}
            {{pagination_links}}
            <a href="#content">Torna all'inizio</a>
        </main>
        {{footer}}
    </body>
</html>