<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Fandomia - Registrazione</title>
        <meta name="keywords" content="registrazione, fandomia, nuovo utente">
        <meta name="viewport" content="width=device-width" />
        <script src="../assets/script.js"></script>
    </head>
    <body>
        {{header}}
        <main>
                <nav aria-label="breadcrumb" class="breadcrumb">
                    <ul>
                      <li><a href="index.php" lang="en">Home</a></li>
                      <li><span aria-current="page">Registrazione</span></li>
                    </ul>
                  </nav> 
            <div class="container">
            <form id="signUpForm" name="signUpForm" action="../lib/signupController.php" method="post" >
                {{errors}}
                <label for="mail">Email</label>
                <input id="mail" type="email" name="usermail"
                placeholder="Inserisci la tua Email" required>
                

                <label for="pwd">Password</label>
                <input id="pwd" type="password" minlength="8" maxlength="16" name="password"
                placeholder="Inserisci la tua password" minlength="8", maxlength="16"  required>
                

                <label for="confirmPwd">Conferma password</label>
                <input type="password" id="confirmPwd" name="confirmPassword"
                placeholder="Ripeti la password" required>
                

                <button type="submit">Registrati!</button>
            </form>
            </div>
        </main>
        {{footer}}
    </body>
</html>