<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Fandomia - Registrazione</title>
        <meta name="keywords" content="registrazione, fandomia, nuovo utente">
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="../assets/css/form.css">
        <script src="../assets/script/script.js"></script>
    </head>
    <body>
        {{header}}
        <nav aria-label="Percorso" class="breadcrumb">
            <p>Ti trovi in:&nbsp; </p>
            <ul>
                <li><a href="index.php" lang="en">Home</a></li>
                <li>Registrati</li>
            </ul>
        </nav>
        <main id="content">
            <h2>Registrati</h2>
            <form class="userForm" name="signUpForm" action="../lib/signupController.php" method="post">
                {{errors}}
                <label for="mail">Email</label>
                <input id="mail" type="email" name="usermail" value="{{usermail}}"
                placeholder="Inserisci la tua Email" pattern="[a-zo-9._%+\-]+@[a-zo-9. \-]+\. [a-z] {2,}$" required>
                

                <label for="pwd">Password</label>
                <input id="pwd" type="password" minlength="8" maxlength="16" name="password"
                placeholder="Inserisci la tua password" minlength="8", maxlength="16"  required/>
                

                <label for="confirmPwd">Conferma password</label>
                <input type="password" id="confirmPwd" name="confirmPassword"
                placeholder="Ripeti la password" minlength="8" maxlength="16" required/>
                <button type="submit">Registrati</button>
            </form>
        </main>
        {{footer}}
    </body>
</html>