section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

/* Stile di base per la card */
.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 15px;
    margin-bottom : 15px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Stile per il titolo del prodotto */
.card h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}

/* Stile per l'immagine del prodotto */
.item-image picture {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.item-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Stile per le informazioni del prodotto */
.card dl {
    min-width:250px;
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    margin-bottom: 15px;
    color: #555;
}

.card dt {
    width: 40% ;
    min-width: 100px;
    font-weight: bold;
    text-align: center;
}

.card dd {
    width: 40%;
    min-width: 100px;
    text-align: center;
}

/* Stile per i pulsanti di azione */
.item-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 150px;

}

.item-actions form {
    flex: 1;
    margin: 5px;
}

.item-actions button {
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.item-actions button:hover {
    background-color: #0056b3;
}

.item-actions button:active {
    background-color: #004494;
}

/* Punto di rottura per dispositivi mobili (max 760px) */


/* Punto di rottura per schermi desktop (min 760px) */
