@import "style.css";
@import "card.css";
/*
MAIN
*/

main {
  background-color: var(--backgroundColor);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h2 {
  display: flex;
  justify-content: center;
}

section {
  padding: 20px;
  margin: 10px;
  border: 5px double rgba(1, 48, 32, .5);
  border-radius: 15px;
}

section:hover {
  border: 5px double var(--accentColor);
}

section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5em;
  justify-content: space-around;
}

/* Punto di rottura per dispositivi mobili (max 760px) */
@media (max-width: 760px) {
  section {
    padding: 1em 0;
  }

  section ul {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
  }
}
/*-------Fine card-------*/