@import "style.css";

.Dettagli {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
section.Dettagli h2  {
    text-align: center;
    margin: 1em auto;
    color: var(--headerBackgroundColor);
    font-size: xx-large;
}

#ProductName-details {
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
	display: grid;
    grid-template: auto 1fr / 50% 50%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    letter-spacing: .05rem;
}

.item-image {
    grid-area: 1 / 1 / span 2 /span 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-image picture {
    display: block;
    margin: 1em;
}

.item-image img {
    max-width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    object-fit: contain;
    object-position: center;
}

#ProductName-details h3 {
    grid-area: 1 / 2 / span 1 / span 1;
    margin: 1em auto;
    border-bottom: 5px solid var(--headerBackgroundColor);
    height: fit-content;
    padding-bottom: 1.5em;
}

.details {
    margin: 1em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap:0;
    align-items: stretch;
    justify-items: stretch;
}

.details dt {
    display: block;
    color: var(--headerBackgroundColor);
    font-weight: bold;
    margin: 0;
    padding: 1.5em;
    border-right: 2px solid var(--headerBackgroundColor)
}

.details dd {
    width: 100%;
    display: block;
    margin: 0;
    padding: 1.5em 0 1.5em 1.5em;
}

.details dt:nth-of-type(even), .details dd:nth-of-type(even) {
    background-color: var(--backgroundColor);
}

#buttons{
    margin: 1em auto auto auto;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#buttons form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
}

#book_button {
    margin: 0 auto 0 auto;
    width: 80%;
    padding: 15px;
    font-size: 150%;
    font-weight: bold;
    color: #fff;
    background-color: var(--headerBackgroundColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    text-decoration: underline;
    letter-spacing: .05em;
}

#book_button:hover {
    background-color: var(--accentColor);
    color: var(--headerBackgroundColor);
}

#book_button:active {
    background-color: white;
    color: var(--accentColor);
}

@media screen and (max-width: 760px) {
    .Dettagli {
        display : flex;
        align-items: center;
        flex-direction: column;
    }

    #ProductName-details {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    #ProductName-details .item-image{
        width: 90%;
    }

    #ProductName-details .details {
        align-self: stretch;
    }
}