@import "style.css";

.products_page{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* .aside{
    display: flex;
    flex-direction: column;
    padding: 1em 1.5em 1em 1em;
    background-color: var(--backgroundColor);
} */

.products_list{
    /* display: flex;
    flex-direction: column; */
    flex: 1;
    display: grid;
    grid-template: auto / auto auto auto auto;
    gap: 1em;
    padding: 20px;
    margin: 10px;
    border: 5px double rgba(1, 48, 32, .5);
    border-radius: 15px;
    background-color: var(--backgroundColor);
}

.card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: #333;
}
/* Stile per l'immagine del prodotto */
.item-image picture {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .item-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  /* Stile per le informazioni del prodotto */
  .item-info dl {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.9em;
    margin-bottom: 15px;
    color: #555;
  }
  
  .item-info dt {
    width: 50%;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .item-info dd {
    width: 50%;
    margin-bottom: 5px;
    margin-left: 0;
  }
  
  /* Stile per i pulsanti di azione */
  .item-actions {
    display: flex;
    flex-direction: row;
    justify-content: right;
  }
  
  .item-actions form {
    /* flex: 1; */
    margin: 5px;
  }
  
  .item-actions button {
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: #fff;
    background-color: var(--headerBackgroundColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: underline;
  }
  
  .item-actions button:hover {
    background-color: var(--accentColor);
  }
  
  .item-actions button:active {
    background-color: #004494;
  }


/*breakpoint!!!*/
@media (max-width: 1200px) {
  .products_page {
    flex-direction: column;
  }
  
  /* aside {
    display: flex;
    flex-direction: row;
    align-content: stretch;
  } */


  aside form {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    align-content: stretch;
  }
  aside form * {
    flex: 1;
  }

  .products_list {
    grid-template: auto / auto auto auto;
  }
  
  .card {
      width: 90%;
      max-width: 100%;
  }
}

/*breakpoint!!!*/
  @media (max-width: 760px) {
    .products_list {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .card {
        width: 90%;
        max-width: 100%;
    }
  }