@import "style.css";

.Dettagli {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
section.Dettagli h2  {
    text-align: center;
    margin: 1em auto;
    color: var(--headerBackgroundColor);
    font-size: xx-large;
}

#ProductName-details {
    border: 1px solid #ddd;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
	display: grid;
    grid-template: auto 1fr / 1fr 1fr;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item-image {
    grid-area: 1 / 1 / span 2 /span 1;
}

.item-image picture {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.item-image img {
    max-width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    object-fit: contain;
    object-position: center;
}

#ProductName-details h3 {
    grid-area: 1 / 2 / span 1 / span 1;
    margin: 1em auto;
    border-bottom: 5px solid var(--headerBackgroundColor);
    height: fit-content;
    padding-bottom: 1.5em;
}

.details {
    margin: 2em;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px 20px;
    align-items: start;
    justify-items: start;
    letter-spacing: .05rem;
}

.details dt {
    color: var(--headerBackgroundColor);
    font-weight: bold;
    margin: 0;
    padding: 5px;
}

.details dd {
    margin: 0;
    padding: 5px;
}

/* Stile per il pulsante di prenotazione */
form {
    text-align: right;
    margin-top: 20px;
}

#buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#book_button {
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: #fff;
    background-color: var(--headerBackgroundColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: underline;
}

#book_button:hover {
    background-color: var(--accentColor);
}

#book_button:active {
    background-color: #004494;
}

@media screen and (max-width: 760px) {
    .Dettagli {
        display : flex;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin: 1em;
        max-width: 90%;
    }
}