@import "style.css";


/* Sezione dettagli prodotto */
section.Dettagli {
    display : flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 1em;
    max-width: 90%;
}

section.Dettagli h2  {
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

.img{
    background-image: url(); /*insert image path or url; la prof. Gaggi dice nelle slide che teoricamente è più opprtuno (?)*/
    background-color: #badff8;
}

#ProductName_details {
	display:flex;
  	flex-direction:column;
 	align-items :center;
}

#ProductName_details h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

dl.details {
	display:flex;
    flex-direction: column;
    width: auto;
    flex-wrap:wrap;

}

/*trovare una soluzione per alternare i colori della lista dl?*/


.details dt {
    font-weight: bold;
    font-size: 1.2em;
    color: #007bff;
    text-align: left;
    margin-left: 10px;
    color: #333;
}

.details dd {
    margin-left: 30px;
    margin-bottom: 10px;
}

/* Stile per il pulsante di prenotazione */
form {
    text-align: right;
    margin-top: 20px;
}

#buttons{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

#book_button {
    width: 100%;
    padding: 10px;
    font-size: 0.9em;
    font-weight: bold;
    color: #fff;
    background-color: var(--headerBackgroundColor);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: underline;
}

#book_button:hover {
    background-color: var(--accentColor);
}

#book_button:active {
    background-color: #004494;
}


/* Responsive */
/* @media (max-width: 760px) {
    main {
        padding: 15px;
    }

    .breadcrumb ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .breadcrumb li {
        margin-bottom: 5px;
    }

    section.Dettagli {
        padding: 15px;
    }

    #ProductName-details dt {
        font-size: 1.1em;
    }

    .details dt {
        font-size: 1em;
    }
    
    button {
        width: 100%;
        font-size: 1.2em;
        padding: 15px;
    }
} */

/*
@media (min-width: 760px) {
    section.Dettagli {
        display: flex;
        flex-direction: column;
    }

    #ProductName-details {
        display: flex;
        justify-content: space-between;
    }

    #ProductName-details dt {
        flex: 1;
    }

    #ProductName-details dd {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .details {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .details dt, .details dd {
        width: 48%;
    }

    button {
        max-width: 220px;
        margin: 0 auto;
    }
}
*/