/* Body */
/* Header */
/* Main*/
/* Footer */
/* Homepage_sections */
/* Products_list */
/* Products_filter */
/* Card */
/* Login_form */
/* Registration_form */
/* Single_product_page */

/*///////////////////
// GLOBAL SETTINGS //
///////////////////*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBackgroundColor: #013020;
    --headerTextColor: #FFFFFF;
    --accentColor: #F9690E;
    --backgroundColor: #EEEEEE;
    --textColor: #000000;
    --linkColor: #0000EE;
    --visitedLinkColor: #800080;
    --fontFamily: "Roboto Condensed", sans-serif;
}

:link {
    color: var(--linkColor);
}

:visited {
    color: var(--visitedLinkColor);
}

html {
    margin: auto;
    font-size: 100%;
    line-height: 1.5em;
    font-family: var(--fontFamily);
}

body {
    height : 100%;
    display : flex;
    flex-direction : column;
    min-height: 100vh;
}

.navigationHelp {
    position: absolute;
    text-indent: -999em;
}

/*////////////////////
////    HEADER    ////
////////////////////*/

header {
    z-index: 1;
    top: 0;
    background-color: var(--headerBackgroundColor);
    color: var(--headerTextColor);
}

@supports (position: sticky) {
    header {
        position: sticky;
    }
}

.logo_icon_wrapper img{
    width: 80px;
    padding: 0em 1em;
}

header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
    padding: 10px 10px 20px 10px;       
}

header search {
    flex-grow: 0.8;
}

header search form {
    display: flex;
    position: static;
}

header search form input {
    flex-grow: 3;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

header search form button {
    flex-grow: 0;
    width: 8%;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-transform: capitalize;
    letter-spacing: .05rem;
    background-color:var(--accentColor);
    border: none;
    border-radius: 4px;
    min-width: 100px;
}

#reservation, .ultimobottone a{
    font-size: x-large;
    padding: 0.5em 1em;
}

#menu ul {
    display : flex;
    direction: row;
    margin: 1em;
    justify-content: space-around;
}

#menu ul li {
    width: 100%;
    text-align: center;
    list-style: none;
}

#menu ul li a {
    font-size: x-large;
    width: 100%;
    padding: 0.5em 1em;
}

header a {
    transition: color 0.3s, background-color 0.3s;
}

header a:link {
    color: var(--headerTextColor);
    text-decoration: None;
    font-weight: bold;
    vertical-align: bottom;
    text-decoration: underline;
    letter-spacing: .05rem;
}

header a:visited{
    color: var(--headerTextColor);
    text-decoration: None;
    font-weight: bold;
    vertical-align: bottom;
}

header a:hover {
    background-color: var(--accentColor);
    color: var(--textColor);
}

header a:active {
    background-color: white;
    color: var(--accentColor);
}

/*////////////////////
////  BREADCRUMB  ////
////////////////////*/ 

nav.breadcrumb  {
    padding: 1em 0.5em 0.5em 1.5em;
    display: flex;
    background-color: var(--backgroundColor);
   }

nav.breadcrumb ul li {
   display: inline;
   list-style-type: none;
   font-weight: bold;
}

.breadcrumb li:not(:first-child)::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('../images/breadcrumb-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
  }

/*////////////////////
////     MAIN     ////
////////////////////*/ 

main {
    flex: 1;
    background-color: var(--backgroundColor);
    padding: 0 1em 1em 1em;
}

main > * {
    max-width: 1400px;
}

/*////////////////////
////  PAGINATION  ////
////////////////////*/

.pagination ul{
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 1em auto;
    justify-content: center;
    gap: 1em;
    list-style-type: none;
    text-align: center;
    font-size: 110%;
}

.pagination ul li span, .pagination ul li a{
    background-color: var(--headerBackgroundColor);
    display: block;
}

.pagination ul li:not(:first-child):not(:last-child) a{
    padding: .5em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
}

.pagination ul li:first-child span::before, .pagination ul li:first-child a::before{
    content: "<< " / "";
}

.pagination ul li:last-child span::after, .pagination ul li:last-child a::after{
    content: " >>" / "";
}
.pagination ul li:first-child span, .pagination ul li:first-child a, .pagination ul li:last-child a, .pagination ul li:last-child span {
    cursor: pointer;
    padding: .5em;
    border-radius: 8px;
}

.pagination ul li:hover a, .pagination ul li:hover span{
    background-color: var(--accentColor);
}

.pagination ul li, .pagination ul li a, .pagination ul li a:visited {
    color: white;
    text-decoration: none;
}

.pagination ul li a[aria-current="true"] {
    background-color: var(--accentColor);
    color: black;
}

.pagination ul li span:hover , .pagination ul li a:hover, .pagination ul li a:visited:hover {
    color: black;
}

/*////////////////////
////    FOOTER    ////
////////////////////*/ 

footer{
    background-color: var(--headerBackgroundColor);
    color: var(--headerTextColor);
    max-width:100%;
    /*margin-top: 10px; */
    padding-top: 1em;
}

footer p {
    margin: auto;
    text-align: center;
    font-weight: bold;
    letter-spacing: .05rem;
}

.contact_info{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px;
    align-items: stretch;
    justify-content: stretch;
    gap: 10px;
}

.contact_info dt,dd {
    width: 48%;
    display: inline-block;
    font-weight: bold;
    letter-spacing: .05em;
}

.contact_info dt {
    margin-top: auto;
    text-align: right;
}

.contact_info dd a{
    padding: 0.5em 1em;
    color: #FFFFFF;
    font-size: large;
    width: 100%;
    transition: filter 0.3s ease, background-color 0.3s ease;
}

.contact_info a::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-right: 5px;
}

.contact_info a[href*="facebook.com"]::before {
    background-image: url("../images/facebook.svg");
}

.contact_info a[href*="x.com"]::before {
    background-image: url("../images/x.svg");
}

.contact_info a[href*="instagram.com"]::before {
    background-image: url("../images/instagram.svg");
}

.contact_info a[href*="tel:"]::before {
    background-image: url("../images/telephone.svg");
}

.contact_info dd a:hover{
    background-color: #0E9EF9;
    filter: invert(100%);
}

.signature{
    text-align: center;
    padding-bottom: 1em;
}


/*/////////////////////
//// REGOLE MOBILE ////
/////////////////////*/

.hamburger {
    display: none;
}



/*  Header  */

@media screen and (max-width: 760px) {
    header > div {
        padding: 0;
        flex-wrap: wrap;
        padding: 0.5em;
        align-items: center;
        gap: 0;
        justify-content: center;
    }
    search {
        flex-grow: 2;
    }
    #reservation, .ultimobottone {
        display: block;
        text-align: center;
        flex: 1 1 50%;
        margin: 0;
        width: 50%;
        box-sizing: border-box;
    }

     #login {
        display: block;
    }

    #menuList li:not(:first-child) {
        margin-top: 1.5em;
    }

    #menuList {
        transform-origin: 0 0;
        display: flex;
        flex-direction: column;
        padding: auto;
        transition: transform 0.5s ease-out;
        transform: scaleY(0%);
        gap: auto;
    }

    #menu {
        height: auto;
    }

    #openmenu {
        background-color: transparent;
        margin: 0 auto 1em auto;
        display: block;
        align-items: center;
        cursor: pointer;
        border: none;
        height: 40px;
        width: 40px;
        background-image: url("../images/hamburger.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #openmenu + div {
        transition: max-height 0.5s ease-out;
    }

    #openmenu[aria-expanded='true'] + div {
        max-height: 500px;
    }

    #openmenu[aria-expanded='false'] + div {
        max-height: 0;
    }
    
    #openmenu[aria-expanded='true'] + div > #menuList{
        transform: scaleY(100%);
        padding-bottom: 0.5em;
    }

    #openmenu[aria-expanded='true'] {
        display: None;
    }

    #closemenu {
        background-color: transparent;
        margin: 0 auto 1em auto;
        display: none;
        align-items: center;
        cursor: pointer;
        border: none;
        height: 40px;
        width: 40px;
        background-image: url("../images/close.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #openmenu[aria-expanded='true'] + div #closemenu {
        display:block;
    }
}