/* Body */
/* Header */
/* Main*/
/* Footer */
/* Homepage_sections */
/* Products_list */
/* Products_filter */
/* Card */
/* Login_form */
/* Registration_form */
/* Single_product_page */

/*///////////////////
// GLOBAL SETTINGS //
///////////////////*/

* {
    margin: 0;
    padding: 0;
}

:root {
    --headerBackgroundColor: #013020;
    --headerTextColor: #FFFFFF;
    --accentColor: #F9690E;
    --backgroundColor: #EEEEEE;
    --textColor: #000000;
    --linkColor: #0000EE;
    --visitedLinkColor: #800080;
    --fontFamily: "Roboto Condensed", sans-serif;
}

:link {
    color: var(--linkColor);
}

:visited {
    color: var(--visitedLinkColor);
}

html {
    margin: auto;
    font-size: 100%;
    line-height: 1.5em;
    font-family: var(--fontFamily);
}

body {
    height : 100%;
    display : flex;
    flex-direction : column;
    min-height: 100vh;
}

/*////////////////////
////    HEADER    ////
////////////////////*/

header {
    z-index: 1;
    top: 0;
    background-color: var(--headerBackgroundColor);
    color: var(--headerTextColor);
}

@supports (position: sticky) {
    header {
        position: sticky;
    }
}

.logo_icon_wrapper img{
    width: 80px;
    padding: 0em 1em;
}

header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;  
    padding: 10px 10px 20px 10px;       
}

header search {
    flex-grow: 0.8;
}

header search form {
    display: flex;
    position: static;
}

header search form input {
    flex-grow: 3;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

header search form button {
    flex-grow: 0;
    width: 8%;
    font-size: 18px;
    font-weight: 500;
    color: black;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    background-color:var(--accentColor);
    border: none;
    border-radius: 4px;
    min-width: 100px;
}

#reservation {
    font-size: x-large;
    padding: 0.5em 1em;
}

#loginForm {
    font-size: x-large;
    padding: 0.5em 1em;
}

#areaPersonale {
    font-size: x-large;
    padding: 0.5em 1em;
}

#menu ul {
    display : flex;
    direction: row;
    margin: 1em;
    justify-content: space-around;
}

#menu ul li {
    width: 100%;
    text-align: center;
    list-style: none;
}

#menu ul li a {
    font-size: x-large;
    width: 100%;
    padding: 0.5em 1em;
}

header a:link {
    color: var(--headerTextColor);
    text-decoration: None;
    font-weight: bold;
    vertical-align: bottom;
}

header a:visited{
    color: var(--headerTextColor);
    text-decoration: None;
    font-weight: bold;
    vertical-align: bottom;
}

header a:hover {
    background-color: var(--accentColor);
    color: var(--textColor);
}

header a:active {
    background-color: white;
    color: var(--accentColor);
}

/*////////////////////
////  BREADCRUMB  ////
////////////////////*/ 

nav.breadcrumb  {
    padding: 0.5em;
    display: flex;
    background-color: var(--backgroundColor);
   }

nav.breadcrumb ul li {
   display: inline;
   list-style-type: none;
   font-weight: bold;
}

.breadcrumb li:not(:first-child)::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('../images/breadcrumb-arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
  }

/*////////////////////
////     MAIN     ////
////////////////////*/ 

main {
    flex: 1;
    background-color: var(--backgroundColor);
    padding-bottom: 1em;
}

main > * {
    max-width: 1400px;
}

/*////////////////////
////    FOOTER    ////
////////////////////*/ 

footer{
    background-color: var(--headerBackgroundColor);
    color: var(--headerTextColor);
    max-width:100%;
    /*margin-top: 10px; */
    padding-top: 1em;
}

.contact_info{
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    gap: 1em;
}

.contact_info dd {
    display: inline;
}

.contact_info dd a{
    color: #FFFFFF;
    font-size: large;
    width: 100%;
    padding: 0.5em 1em;
    transition: color 0.3 ease;
}

.contact_info a::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 5px;
}

.contact_info a[href*="facebook.com"]::before {
    background-image: url("../images/facebook.png");
}

.contact_info a[href*="x.com"]::before {
    background-image: url("../images/x.png");
}

.contact_info a[href*="instagram.com"]::before {
    background-image: url("../images/instagram.png");
}

.contact_info a::hover::before {
    filter: brightness(0.8);
}


.contact_info dd a:hover{
    background-color: var(--accentColor);
    color: var(--textColor);
}

.signature{
    text-align: center;
    padding-bottom: 1em;
}


/*/////////////////////
//// REGOLE MOBILE ////
/////////////////////*/

.hamburger {
    display: none;
}



/*  Header  */

@media screen and (max-width: 760px) {
    header > div {
        flex-wrap: wrap;
    }

    #reservation, #areaPersonale, #loginForm {
        flex: 1 1 50%;
        margin-top: 1em;
    }

    #menuList li:not(:first-child) {
        margin-top: 2em;
    }

    #menuList {
        transform-origin: 0 0;
        display: flex;
        flex-direction: column;
        padding: 0;
        transition: transform 0.5s ease-out;
        transform: scaleY(0%);
        /*transition: padding 0.5s ease-in-out, max-height 0.5s ease-in-out; */
    }

    #menu {
        height: auto;
    }

    #openmenu {
        background-color: none;
        margin: 0 auto 1em auto;
        display: block;
        align-items: center;
        cursor: pointer;
        border: none;
        height: 40px;
        width: 40px;
        background-image: url("../images/hamburger.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #openmenu + div {
        transition: max-height 0.5s ease-out;
    }

    #openmenu[aria-expanded='true'] + div {
        max-height: 500px;
    }

    #openmenu[aria-expanded='false'] + div {
        max-height: 0;
    }
    
    #openmenu[aria-expanded='true'] + div > #menuList{
        transform: scaleY(100%);
        padding-bottom: 0.5em;
    }

    #openmenu[aria-expanded='true'] {
        display: None;
    }

    #closemenu {
        background-color: none;
        margin: 0 auto 1em auto;
        display: none;
        align-items: center;
        cursor: pointer;
        border: none;
        height: 40px;
        width: 40px;
        background-image: url("../images/close.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    #openmenu[aria-expanded='true'] + div #closemenu {
        display:block;
    }
}