
<div>
{{titolo}}
<div class="item-row">
    <div class="item-image">
        <picture><img src="{{immagine}}" alt="" ></picture>
    </div>
    <div class="item-info">
<dl>
    <dt class="srOnly">Descrizione</dt>
    <dd class="comic_box2">{{descrizione}}</dd>
    <dt>Prezzo</dt>
    <dd id="prezzo">{{prezzo}} &euro;</dd> 
    <dt>Disponibilità</dt><dd>{{disponibilità}}</dd>
    <dt>Data di uscita</dt><dd>{{releaseDate}}</dd>
    <dt>Genere</dt><dd>{{genere}}</dd>
    {{item-info}}
</dl>
</div>
<div class="item-actions">
    <form action="wishList.php" method="POST">
        {{productIdforWishList}}
        <button type="submit" name="submit">Aggiungi alla wishList</button>
    </form>
    <form action="prenotazioneRitiro.php" method="POST">
        {{productIdforReservation}}
        <button type="submit" name="submit">Prenota il ritiro</button>
    </form>
</div>
</div>
</div>