<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="nome prodotto,nome prodotto+autore,negozio ecc.. qualche altra roba">
    <meta name="description" content="pagina riguardante prodotto xyz del negozio Fandomia">
    <title>ProductName</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header><h1> Nome Prodotto Fandomia</h1>
    </header>
    <main>
        <section class="Dettagli Prodotto">
        <h2>Product Details</h2>
            <dl id="ProductName-details">
                <dt>Product Name</dt>
                <dd>
                    <img src="" alt="nome e descrizione prodotto">
                    <h3>Details</h3>
                    <dl class="details">
                        <dt class="example-genre">Genere:</dt>
                        <dd> musicale, del libro, del videogioco ecc...</p</dd>
                        <dt>Data uscita:</dt>
                        <dd><time datetime="aaaa-mm-gg">aaaa-mm-gg</time></dd>
                        <dt class="price(?)">Prezzo:</dt>
                        <dd>$ XXX</dd>
                        <dt class="description"> Descrizione:</dt>
                        <dd>Descrizione prodotto, con parole chiave</dd>
                    </dl>
                </dd>
            </dl>
        </section>
        <section class="buttons">
            <button class="add-to-wishlist">Aggiungi alla Lista Desideri</button>
            <button class="add-to-book">Prenota</button>
        </section>
        <section class="rating">Non so se abbia senso qui, magari in un'altra sezione?</section>
    </main>
</body>
</html>