#main{
    display: flex;
    flex-direction: row;
}

h3{
    padding: auto;
    margin: 0px;
    text-align: center;
}

#sidebar{
    color: black;
    border: 0.5px solid black;
    background-color: white;
    padding: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    width: fit-content;
}

#lista_oggetti li{
    display: inline-block;
    padding: 3em;
    border: 0.5px solid black;
    background-color: white;
    padding: 0.5em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    margin: 2em;
}
